.bg-brown {
  background-color: #C55527;
  padding: 0;
  margin: 0;
}
ul, ol {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}
i {
  color: #C55527;
}
label {
  margin-left: 5px;
}
select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
.bg-btn {
  background-color: #008A84;
  border: none;
}
.bg-btn:hover {
  background-color: #00aca5;
}
